@media screen and (min-width: 768px)
{
	@font-face {
	font-family: 'ico-';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
	}
	body
	{
		margin: 0 auto;
		max-width: 1200px;
	}
	#redes
	{
		display: block;
		float: right;
		width: 25%;
	}
	#redes .inner
	{
		border-bottom: 1px solid rgb(204, 204, 204);
	}
	#redes .inner .facebook,
	#redes .inner .twitter,
	#redes .inner .github
	{
		font-family: "ico-";
		margin-right: 0.5em;
	}
	#redes .inner .facebook:before
	{
		content: "\e60e";
	}
	#redes .inner .twitter:before
	{
		content: "\e60d";
	}
	#contenido
	{
		width: 70%; 
	}
	
}